client

dev tun
proto {{ openvpn.protocol }}

remote {{ openvpn.address }} {{ openvpn.port }}

resolv-retry infinite

nobind

persist-key
persist-tun

remote-cert-tls server
cipher AES-256-CBC

ignore-unknown-option block-outside-dns
block-outside-dns

# Set log file verbosity.
verb 3

# Silence repeating messages
;mute 20
