network:
  version: 2
  ethernets:
{% for setting in network_static_ip %}
    {{ setting.interface }}:
      addresses: {{ setting.addresses }}
      gateway4: {{ setting.gateway }}
      nameservers:
        addresses: {{ setting.dns }}
{% endfor %}
